{%extends 'base.html'%}
{% load bootstrap %}

{%block title%}Página de login{%endblock%}

{%block main%}
<div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h2>Login</h2>
                <form method="post">
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <button type="submit" class="btn btn-info">Login</button>
                </form>
        </div>
        <div class="col-sm">
        </div>
      </div>
    

{%endblock%}

